body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0b3d2e, #145a32);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-container {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  text-align: center;
}

.signin-container h2 {
  margin-bottom: 5px;
  color: #0b3d2e;
}

.signin-container p {
  font-size: 14px;
  color: #666;
}

.signin-container input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* Video acts like body background */
.body-bg-video {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  
}

/* Optional dark overlay */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.1);
  z-index: -1;
}
.signin-container button {
  width: 100%;
  padding: 12px;
  background: #d39829;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.signin-container button:hover {
  background: #b8831f;
}

.signup-text {
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #0b3d2e;
  text-decoration: none;
  font-weight: bold;
}
